@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  text-rendering: optimizelegibility; }

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  margin: 16px 0; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 18px; }

p {
  font-size: 13.5px;
  line-height: 1.6em; }
  p:not(:last-child) {
    margin-bottom: .8em; }

a {
  color: #23282D;
  font-size: 14px;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none; }

small {
  font-size: .7em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.button {
  -webkit-appearance: none;
  background: #f7f7f7;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  color: #555;
  font-size: 13px;
  cursor: pointer;
  padding: 6px 10px; }

.button--secondary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.row {
  max-width: 1320px; }

.row__column {
  padding-left: 15px;
  padding-right: 15px; }

input,
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  outline: 0; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.form__column {
  width: 100%; }

.form__label {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 8px 12px;
  position: relative;
  -webkit-transition: color .1s;
  transition: color .1s; }
  .form__label.required:before {
    color: #B11818;
    content: '*';
    left: 0;
    position: absolute; }

.form__input,
.form__select, .form__textarea {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  color: #23282D;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  outline: 0;
  padding: 8px 12px;
  -webkit-transition: .1s border-color ease-in-out;
  transition: .1s border-color ease-in-out; }
  .form__input:focus,
  .form__select:focus, .form__textarea:focus {
    border-color: #00b9eb;
    box-shadow: 0 0 2px rgba(0, 185, 235, 0.8); }
    .form__input:focus ~ .form__label,
    .form__select:focus ~ .form__label, .form__textarea:focus ~ .form__label {
      color: #00b9eb; }
  .form__input > *,
  .form__select > *, .form__textarea > * {
    width: 100%; }

.form__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px; }

.form__select {
  background-image: url("../svg/down.svg");
  background-position: calc(100% - 8px);
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 35px; }

.form__textarea {
  min-height: 250px; }

.form__checkbox {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
  .form__checkbox > input {
    border: 1px solid #000;
    cursor: pointer;
    height: 20px;
    margin-right: 8px;
    width: 20px; }
    .form__checkbox > input:checked {
      background: #000; }
  .form__checkbox > label {
    margin-right: 15px; }

.form__collection {
  margin: 0 -15px; }

.form__collection-item {
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  .form__collection-item:nth-child(even) {
    background: #f1f1f1; }

.form__collection-item--hidden {
  height: 50px; }
  .form__collection-item--hidden > *:not(.form__collection-item-toggle) {
    display: none; }
  .form__collection-item--hidden .form__collection-item-toggle rect:nth-child(2) {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

.form__collection-item-footer {
  padding-bottom: 15px; }

.form__collection-footer {
  border-top: 1px solid #f1f1f1;
  padding: 15px;
  text-align: right; }

.form__collection-item-toggle {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #e5e5e5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .form__collection-item-toggle rect:nth-child(2) {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.form__errors {
  color: #B11818;
  margin-top: 5px;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.fr-box {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

@media only screen and (min-width: 1025px) {
  .form__column--left {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 66.666%;
        -ms-flex: 1 1 66.666%;
            flex: 1 1 66.666%;
    padding-right: 15px; }
  .form__column--right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33.333%;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
    padding-left: 15px; } }

.filter {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px;
  margin-bottom: 30px; }

.filter__filter-by {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0; }

.filter__option--hidden {
  display: none; }

.filter__button.button {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none; }

.header__actions {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header__actions .button {
    margin-left: 15px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.row {
  max-width: 1320px; }

.row__column {
  padding-left: 15px;
  padding-right: 15px; }

.layout {
  background: #F1F1F1;
  margin-top: 50px; }

.layout__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
  padding-right: 15px; }

.layout__menu {
  height: 50px;
  top: 0;
  overflow: hidden;
  position: fixed;
  -webkit-transition: height .3s;
  transition: height .3s;
  width: 100%; }

@media only screen and (min-width: 641px) {
  .layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: 0;
    min-height: 100vh; }
  .layout__menu {
    height: auto;
    position: initial;
    width: 160px; }
    .layout__menu .menu-toggle {
      display: none; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.row {
  max-width: 1320px; }

.row__column {
  padding-left: 15px;
  padding-right: 15px; }

.menu {
  background: #23282D; }
  .menu .menu-toggle {
    margin: 10px; }

.menu__item {
  display: block;
  color: #eee;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 15px; }
  .menu__item:hover {
    background: #191e23;
    color: #00b9eb; }

.menu-toggle {
  fill: #fff;
  height: 24px;
  width: 24px; }

.menu-toggle__top,
.menu-toggle__bottom {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: y .2s .2s, -webkit-transform .2s;
  transition: y .2s .2s, -webkit-transform .2s;
  transition: transform .2s, y .2s .2s;
  transition: transform .2s, y .2s .2s, -webkit-transform .2s; }

.menu-toggle__middle {
  -webkit-transition: opacity .2s .2s;
  transition: opacity .2s .2s; }

.menu-toggle--visible .menu-toggle__top,
.menu-toggle--visible .menu-toggle__bottom {
  -webkit-transition: y .2s, -webkit-transform .2s .2s;
  transition: y .2s, -webkit-transform .2s .2s;
  transition: transform .2s .2s, y .2s;
  transition: transform .2s .2s, y .2s, -webkit-transform .2s .2s;
  y: 156px; }

.menu-toggle--visible .menu-toggle__top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.menu-toggle--visible .menu-toggle__middle {
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }

.menu-toggle--visible .menu-toggle__bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.modal {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }

.modal--visible {
  display: block; }

.modal__content {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  top: 50%;
  left: 50%;
  max-width: 400px;
  padding: 15px;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 101; }
  .modal__content:after {
    background: #23282D;
    border-radius: 50%;
    color: #fff;
    content: 'x';
    height: 20px;
    width: 20px;
    position: absolute;
    right: -10px;
    top: -10px; }

.paginator {
  margin-top: 30px; }

.paginator-button {
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px; }

.paginator-separator {
  color: #000;
  margin-right: 10px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.row {
  max-width: 1320px; }

.row__column {
  padding-left: 15px;
  padding-right: 15px; }

.panel, .flash {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.panel {
  margin-bottom: 30px;
  width: 100%; }

.panel--closed .panel__content {
  display: none; }

.panel--padding {
  padding: 23px 10px 0; }

.panel__header {
  background-image: url("../svg/down.svg");
  background-position: calc(100% - 15px) 3px;
  background-repeat: no-repeat;
  background-size: 15px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px; }

.panel__title {
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 12px; }

.panel__content {
  padding-left: 15px;
  padding-right: 15px; }

.panel__content--hidden {
  display: none; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.row {
  max-width: 1320px; }

.row__column {
  padding-left: 15px;
  padding-right: 15px; }

.row__column {
  width: 100%; }

table {
  text-align: left;
  width: 100%; }

thead {
  border-bottom: 1px solid #E1E1E1; }

th, td {
  padding: 8px; }

tr {
  background: #F9F9F9; }
  tr:nth-child(even) {
    background: #fff; }

.table__sortable {
  display: block;
  position: relative;
  width: 100%; }
  .table__sortable:after {
    opacity: 0;
    position: absolute;
    right: 0; }
  .table__sortable.table__sortable--selected:after, .table__sortable:hover:after {
    opacity: 1; }

.table__sortable--asc:after {
  content: '▲'; }

.table__sortable--desc:after {
  content: '▼'; }

.table__action {
  margin-right: 15px; }

.flash {
  margin-bottom: 30px;
  padding: 10px 15px; }

.flash--success {
  border-left: 3px solid #46B450; }

.flash--error {
  border-left: 3px solid #B11818; }
