{% set form_sidebar_content %}{%- block form_sidebar_content -%}{%- endblock form_sidebar_content -%}{% endset %}

<div class="form-sidebar">
    <div class="form-sidebar__fixed">
        {{- form_sidebar_content -}}
    </div>
</div>
