{% extends '@LIN3SAdmin/Admin/new.html.twig' %}

{% block lin3s_admin_title %}
    {% if entityConfig.printName is defined %}
        {% set entity = entityConfig.printName | lower %}
    {% else %}
        {% set entity = entityConfig.name %}
    {% endif %}
    <h1>
        {% trans with {'%entity%': entity} %}
            lin3s_admin.edit.title
        {% endtrans %}
    </h1>
{% endblock %}
