{% extends '@LIN3SAdmin/layout.html.twig' %}

{% block lin3s_admin_title %}
    {{ entityConfig.name | capitalize }}
{% endblock %}

{% block lin3s_admin_actions %}
    {% for listGlobalAction in entityConfig.listGlobalActions %}
        <a href="{{ url('lin3s_admin_custom', {'entity': entityConfig.name, 'action': listGlobalAction.name }) }}"
           class="button button--secondary">
            {{ listGlobalAction.name | capitalize }}
        </a>
    {% endfor %}
{% endblock %}

{% block lin3s_admin_content_top %}
    {% include '@LIN3SAdmin/Admin/partials/list_filters.html.twig' %}
{% endblock %}

{% block lin3s_admin_content %}
    <div class="admin__batch-actions"></div>
    <div class="admin__list">
            {% include '@LIN3SAdmin/Admin/partials/list_table.html.twig' %}
            {% include '@LIN3SAdmin/Admin/partials/paginator.html.twig' with {
                currentPage: app.request.get('page') ?: 1,
                totalCount: totalCount,
                perPage: entityConfig.listEntitiesPerPage
            } %}
        </div>
    </div>
{% endblock %}
