{% extends 'Lin3sAdminBundle:layout.html.twig' %}

{% block lin3s_admin_title %}
    {{ entityConfig.printNames.plural | trans }}
{% endblock %}

{% block lin3s_admin_global_actions %}
    {% for listGlobalAction in entityConfig.listGlobalActions %}
        {% block lin3s_admin_global_action %}
            {% include 'Lin3sAdminBundle:Admin/partials:list_global_action.html.twig' with {
                entityName: entityConfig.name,
                globalAction: listGlobalAction
            } %}
        {% endblock %}
    {% endfor %}
{% endblock %}

{% block lin3s_admin_content_top %}
    {% include 'Lin3sAdminBundle:Admin/partials/list_filters.html.twig' %}
{% endblock %}

{% block lin3s_admin_content %}
    <div class="admin__batch-actions"></div>
    <div class="admin__list">
        {% include 'Lin3sAdminBundle:Admin/partials/list_table.html.twig' %}
        {% include 'Lin3sAdminBundle:Admin/partials/paginator.html.twig' with {
            currentPage: app.request.get('page') ?: 1,
            totalCount: totalCount,
            perPage: entityConfig.listEntitiesPerPage
        } %}
    </div>
{% endblock %}
