{% extends 'LIN3SAdminBundle::layout.html.twig' %}

{% form_theme form '@LIN3SAdmin/form.html.twig' %}

{% block lin3s_admin_actions %}
    <h1>New {{ entityConfig.name }}</h1>
{% endblock %}

{% block lin3s_admin_content %}
    {{ form(form) }}
{% endblock %}
