<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{% block title %}{% include 'Lin3sAdminBundle:partial:title.html.twig' %}{% endblock %}</title>

    {% block fonts %}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" type="text/css">
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/lin3sadmin/css/bundle.min.css') }}" type="text/css">
        {% include 'Lin3sAdminBundle:partial:stylesheets.html.twig' %}
    {% endblock %}

    {% block head_javascripts %}
        <script src="{{ asset('bundles/lin3sadmin/js/modernizr.js') }}"></script>
        {% include 'Lin3sAdminBundle:partial:head_javascripts.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        <script async defer src="{{ asset('bundles/lin3sadmin/js/bundle.min.js') }}"></script>
        {% include 'Lin3sAdminBundle:partial:javascripts.html.twig' %}
    {% endblock %}
</head>

<body class="layout">
{% block body %}
    <section class="layout__header">
        {% include 'Lin3sAdminBundle:partial:layout_header.html.twig' %}
    </section>
    <section class="layout__content">
        <nav class="layout__menu menu">
            <div class="menu__toggle">
                {% include 'Lin3sAdminBundle:svg:menu_toggle.svg.twig' %}
            </div>
            {% block lin3s_admin_aside_links %}
                {% include 'Lin3sAdminBundle:partial:menu.html.twig' %}
            {% endblock %}
        </nav>
        <main class="row row--centered layout__main">
            <div class="row__column">
                <header class="header">
                    <div class="header__title">
                        <h1>{% block lin3s_admin_title %}{% endblock %}</h1>
                    </div>
                    <div class="header__actions">
                        {% block lin3s_admin_actions %}{% endblock %}
                    </div>
                </header>
                {% block lin3s_admin_flash_messages %}
                    {% include 'Lin3sAdminBundle:partial:flash.html.twig' %}
                {% endblock %}
                {% block lin3s_admin_content_top %}{% endblock %}
                {% block lin3s_admin_content %}{% endblock %}
            </div>
        </main>
    </section>
{% endblock %}
</body>
</html>
