{% for flash_message in app.session.flashbag.get('lin3s_admin_success') %}
    <div class="flash flash--success">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('lin3s_admin_error') %}
    <div class="flash flash--error">
        {{ flash_message }}
    </div>
{% endfor %}
